.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin-bottom: 6em;
}

.container i {
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.text {
  font-size: 1.8rem;
}

.text b {
  text-decoration: underline;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  font-size: 1.6rem;
  width: 100%;
}

.link {
  margin: 1em;
  width: 220px;
  text-decoration: none;
  padding: 0.8em 1.6em;
  border: 2px solid var(--special);
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-weight: bold;
}

.link:hover {
  background-color: var(--special);
}

@media (min-width: 786px) {
  .container i {
    font-size: 6rem;
  }

  .text {
    font-size: 2rem;
  }

  .links {
    font-size: 1.8rem;
  }

  .link {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .container i {
    font-size: 8rem;
  }

  .text {
    font-size: 2.2rem;
  }

  .links {
    font-size: 2rem;
  }

  .link {
    width: 300px;
  }
}
