.input {
  width: 100%;
  max-width: 500px;
  padding: 0.8em 2em;
  border: none;
  border-radius: 12px;
  font-size: 1.5rem;
  margin: 1em 0;
  color: var(--secondary);
}

.input::placeholder {
  opacity: 0.6;
}

.error {
  margin: 0.5em 0;
  font-size: 1.4rem;
  text-align: center;
  color: var(--alert);
  font-weight: bold;
}
