.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  background-size: cover;
  background-image: url('../../assets/header.jpg');
  background-attachment: fixed;
  z-index: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--greylish);
  box-shadow: 0 0 6px 1px var(--greylish);
  z-index: 10000;
}

@media (min-width: 576px) {
  .header {
    padding: 2.5em;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 3em;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 3.5em;
  }
}
