.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  background-color: var(--primary);
}

.nav a {
  text-decoration: none;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--menu);
  text-align: center;
  transition: color 0.2s;
}

.nav a:hover {
  color: rgb(69, 170, 82);
}

.nav a.active {
  color: var(--alert);
}

.nav i {
  font-size: 2rem;
}

.nav i.shoppingList {
  animation: shakeHorizontal 1s;
}

.nav span {
  margin-top: 0.3em;
  font-size: 1.2rem;
}

@keyframes shakeHorizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60% {
    transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  90% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}

@media (min-width: 576px) {
  .nav a {
    padding: 1.5em;
  }

  .nav i {
    font-size: 2.2rem;
  }

  .nav span {
    margin-top: 0.4em;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .nav a {
    padding: 2em;
  }

  .nav i {
    font-size: 2.4rem;
  }

  .nav span {
    margin-top: 0.5em;
    font-size: 1.4rem;
  }
}
