.container {
  margin-top: 2em;
  padding: 2em;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  text-align: left;
}

@media (min-width: 768px) {
  .container {
    max-width: 450px;
    margin-top: 3em;
  }
}
